{% extends "base.html" %}
{% block body %}
<div id="main">
  <h1 id="data-title"> Practice Manager  North Yorkshire </h1>
  <div class="data-article" id="data-content">
    <p> 
        Job Description: Inspired Selections  Practice Manager  North Yorkshire. <br>
        This company recognise you are a Business Manager first and foremost and you are encouraged to treat your branch as if it were your own business. <br>
        You will be responsible to maximising customer service, sales and profit through the recruitment, development, coaching and leadership of branch teams to enable them to deliver the very best service levels. <br>
        Your Career Some Branch Managers are qualified Dispensing Opticians and this company really do value their clinical expertise. However, they would also consider applications from people who do not have this qualification but have some relevant and successful managerial experience. <br>
        If you were interested in becoming clinically trained though, this company could support you in gaining the Dispensing Optician qualification. <br>
        There are a variety of opportunities open to you atthhis company to suit individual career aspirations. <br>
        Through your annual Personal Development Review (PDR) we ll support you in whatever way we can to realise your potential. <br>
        This may mean: managing a bigger branch joining the Regional team becoming a Champion within your region (in areas such as Recruitment and Employee Relations) training to become an NVQ assessor even take the next step into an Area Manager role. <br>
        Alternatively you may want to pursue a clinical route. <br>
        We will always endeavour to support you in achieving your ambitions. <br>
        Your Benefits You can expect to enjoy a wide range of excellent benefits. <br>
        Here is a flavour: Competitive salary (relating to size of branch) Management incentive Excellent working environment NVQ Training/Management Training Colleague discount scheme Company pension scheme Company sick pay Life Assurance Generous 25 days holiday Private Health Care GOC fees paid (if a Dispensing Optician). <br>

        </p>
  </div>
</div>
{% endblock %}
