{% extends "base.html" %}
{% block body %}
<div id="main">
  <h1 id="data-title"> Partnership Director </h1>
  <div class="data-article" id="data-content">
    <p> 
        As a Partnership Director you will be responsible for selling corporate cards and network agreements to some of the largest issuing banks in Europe. <br>
        In addition to selling to bank partners you will need to prospect additional third parties and distributors or even other financial institutions to increase the footprint of my client in Europe. <br>
        You will need to garner support internally in order to build Joint Venture agreements with bank partners on a frequent basis.  <br>
        Corporate Card Exposure  Track record of selling to Financial Institutions and Bank Partners  Sales Track Record  European focus. <br>
        A global and leading corporate card provider who is looking to expand their team with an additional hire of a Partnership Director in London. <br>
        c****k  Bonus  Comprehensive Benefits Package. <br>
        Your application will be reviewed by Michael Page. <br>
        Please be aware we receive a high volume of applications for every role advertised regularly receive applications from candidates who exceed the job credentials. <br>
        We will only contact you within the next 14 days if you are selected for interview. <br>
        Where specific UK qualifications are required we will take into account overseas equivalents. <br>
        Michael Page is a world leading recruitment consultancy. <br>
        This job was originally posted as www.SalesTarget.co.uk/JobSeeking/PartnershipDirector_job****. <br>
        </p>
  </div>
</div>
{% endblock %}
