{% extends "base.html" %}
{% block body %}
<div id="main">
  <h1 id="data-title"> Trainee Recruitment Consultant </h1>
  <div class="data-article" id="data-content">
    <p> 
       WELL KNOWN IN THE INDUSTRY FOR PAYING HIGH COMMISSION AND OFFERING GREAT BENEFITS AND INCENTIVES If your present position does not allow you huge incomes, move to positions that do. <br>\
       Hungry, dynamic, motivated candidates who want to be successful in sales and earn large commission cheques apply now. <br>
       eSynergy solutions is a dynamic I.T. Recruitment business set up by Three Directors back in ****. <br>
       Since ****01 the company has grown into being one of the top I.T. Recruitment firms in the city with an impressive array of clients. <br>
       We attract the some of the top sales talent to work for the Company by offering competitive packages, superb career prospects and progression, extensive training and mentoring scheme in a vibrant and extremely busy market place. <br>
       In our opinion we provide you with all the tools you need to succeed. <br>
       The rest is down to you. <br>
       Personality traits Confident individuals who believe in their own abilities. <br>
       Someone who is comfortable selling face to face and on the phone alike. <br>
       Someone who has experience of working in a role very similar to Recruitment. <br>
       Someone who can demonstrate they have gone the extra mile to achieve success. <br>
       Someone who will stay until the work is completed. <br>
       This certainly isn't a **** job Someone who is willing to make personal sacrifices to further their career. <br>
       Someone who can demonstrate they have a real competitive streak and a burning desire to be the best. <br>
       Someone that can make you smile when you meet them face to face or on the phone. <br> 
       It is important in Sales that people enjoy dealing with you. <br> 
       Individuals who can show they have worked in a KPI driven, stressful, demanding environment in the past. <br>
       The role (Our expectations) Pass our 20 module training passport To fully understand the recruitment lifecycle from candidate search and selection, lead generation, to pitching, winning and writing new business. <br>
       Integrate well into the team To have hit your target and made your first eSynergy High Achiever's 'Lunch Club' To have fully understood the technology you recruit for and presented to the Company about your knowledge Demonstrate understanding of professional selling skills able to sell exclusivity/meetings/interview slots to candidates. <br>
       Demonstrate a understanding of their own business and have the ability to be able to forecast results/understand future recruitment plans of their clients. <br>
       Conduct effective negotiations with candidates and clients If you are up for a challenge, you want to work with some young, dynamic, driven and money motivated individuals in a vibrant sales environment then eSynergy Solutions is for you and we look forward to honing your skills and watching you grow into our next top billing consultant. We are interested in speaking to people that come with Telesales, New Business Development, Field Sales, IT sales, B2B sales, Door to Door sales and telemarketing experience. <br>
       This job was originally posted as www.totaljobs.com/JobSeeking/TraineeRecruitmentConsultant_job****. <br>


      </p>
  </div>
</div>
{% endblock %}
